<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Include the script that enables Netlify Identity on this page. -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>Blog CMS Tutorial</title>
</head>

<body>
  <h1>Nice. It's looking good already.</h1>
  <a href="/blog">Blog</a>
  <ul>
    {{ range (where .Pages "Section" "blog") }}
    <li>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>


</body>

</html>